@use "variaveis";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonte-principal;
  background: $cor-fundo;
  color: $cor-texto;
  line-height: 1.6;
}

h1 { font-size: $titulo-grande; }
h2 { font-size: $titulo-medio; }
p  { margin-bottom: $espacamento-padrao / 2; } // operador
