$fonte-principal: 'Arial', sans-serif;

$cor-primaria: #ae00ff;
$cor-fundo: #000000;
$cor-texto: #ffffff;

$espacamento-padrao: 20px;
$titulo-grande: 2.5rem;
$titulo-medio: 1.5rem;
$titulo-pequeno: 1rem;
